/* Reset global para remover margens e paddings padrão */
html, body, #root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}


@import "tailwindcss";
